.btn-update {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-update:hover {
  background: #2563eb;
}
